*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header{
    text-align: center;
    margin: 2rem 0;
}
main{
    width: 1020px;
    margin: 0 auto;
    margin-top: 2rem;
}
hr{
    margin: 10px 0;
}
img{
    max-width: 100%;
}
ol{
    list-style-position: inside;
}
h3{
    margin: 10px 0;
}

.primary-btn{
    padding: 10px 20px;
    cursor: pointer;
    border: 1px solid #EB5757;
    border-radius: 8px;
    background-color: #EB5757;
    color: #fff;
    font-weight: bold;
    margin: 10px 0;
}
.calender{
    display: flex;
    align-items: center;
    gap: 0.4rem;
}
.calender-more{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.arrow{
    background-color: #fde8e8;
    padding: 5px;
    border-radius: 50%;
}
#item-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.5rem;
}
#item-box{
    padding: 15px;
    /* border: 1px solid #000; */
    border-radius: 12px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
#footer{
    margin: 3rem 0 6rem 0;
    text-align: center;
}